body {
    background-color: lightblue
}


.main {
    background-color: aliceblue;
    text-align: center;
    width: 800px;
    margin: auto;
    border-radius: 30px;
    padding: 10px 10px 30px;
    margin-top: 50px;
}

hr {
    width: 600px;
}

span {
    border: 1px solid gray;
    border-radius: 2px;
    background-image: linear-gradient(#FCFCFC, #707070);
}